/* Style adjustments for websites */
.pageBody {
	padding: 0px 20px 0px 0px;
}
.topicContent {
	margin-left: 280px;
}

/* Lightweight TOC */
.tocCollapsed {
	background: url('../icons/TocCollapsed.gif') no-repeat scroll center;
	width: 17px;
	height: 20px;
	overflow: hidden;
}
.tocExpanded {
	background: url('../icons/TocExpanded.gif') no-repeat scroll center;
	width: 17px;
	height: 20px;
	overflow: hidden;
}
.tocResize {
	position: absolute;
	top: 90px;
	left: 300px;
	width: 5px;
	height: 20px;
	padding-right: 5px;
}
.tocResize img {
	border: none;
	cursor: pointer;
}
div#leftNav {
	float: left;
	margin: 0px -1px 0 0;
	width: 280px;
	min-height: 10px;
	position: relative;
	border-right: 1px solid #b6b6b6;
	padding-left: 10px;
	padding-top: 15px;
}
div#tocNav {
	font-family: 'Segoe UI' ,Verdana,Arial;
	overflow-x: hidden;
	line-height: normal;
	margin: -20px 0 0 -4px;
}
div#tocNav > div {
	overflow-x: hidden;
	white-space: normal;
	width: auto;
	margin-bottom: 5px;
}
div#leftNav a, div#leftNav a:link, div#leftNav a:visited {
	color: #1364c4;
	text-decoration: none;
}
div#leftNav a:hover {
	color: #3390b1;
}
div#tocNav > div > a, div#tocNav > div > a:link, div#tocNav > div > a:visited {
	display: block;
	margin-left: 18px;
	overflow: hidden;
}
div#tocNav > div.current > a, div#tocNav > div.current > a:link, div#tocNav > div.current > a:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
div#tocNav > div > a.tocExpanded, div#tocNav > div > a.tocCollapsed {
	float: left;
	display: inline-block;
	margin-left: 0;
	vertical-align: top;
}
div#tocResizableEW {
	cursor: e-resize;
	width: 15px;
	top: 0;
	height: 100%;
	position: absolute;
	display: block;
	font-size: 0.5px;
	right: -7px;
}
.toclevel0:first-child {
	margin-top: 16px;
}
div#tocNav > div.toclevel1 {
	padding-left: 17px;
}
div#tocNav > div.toclevel2 {
	padding-left: 34px;
}
div#tocNav > div.toclevel3 {
	padding-left: 51px;
}
div#tocNav > div.toclevel4 {
	padding-left: 68px;
}
div#tocNav > div.toclevel5 {
	padding-left: 85px;
}
div#tocNav > div.toclevel6 {
	padding-left: 102px;
}
div#tocNav > div.toclevel7 {
	padding-left: 119px;
}
div#tocNav > div.toclevel8 {
	padding-left: 136px;
}
div#tocNav > div.toclevel9 {
	padding-left: 153px;
}
div#tocNav > div.toclevel10 {
	padding-left: 170px;
}

/* Search form */
form#SearchForm {
	float: right;
	background-color: #eee;
	width: 280px;
	display: none;
}
form#SearchForm input {
	background-color: #eee;
	border: 0;
	height: 22px;
	width: 230px;
	color: #3b3b3b;
	display: inline-block;
	margin: 1px 0 0 0;
	padding: 1px 4px 1px 10px;
	display: none;
}
form#SearchForm button {
	background: url('../icons/Search.png') no-repeat scroll center;
	background-color: #eee;
	float: right;
	border: 0;
	margin: 3px 2px 0 0;
	cursor: pointer;
	color: #3b3b3b;
	width: 19px;
	height: 18px;
	overflow: hidden;
	display: none;
}
.searchContainer {
	width: 700px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}
